<div class="login-box">
  <div class="login-logo">
    <a (click)="gotoMainPage()"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <list-errors [errors]="errors"></list-errors>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <div class="form-group has-feedback">
        <input formControlName="email" placeholder="email" type="email" class="form-control" placeholder="Email" value="deksoke@gmail.com" autocomplete="no">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="password" type="password" class="form-control" placeholder="Password" value="1234567890">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-offset-8 col-xs-4">
          <button [disabled]="!authForm.valid" type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center" *ngIf="authType == 'login'">
      <!--<p>- OR -</p>-->
      <a (click)="loginWithFacebook()" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a (click)="loginWithGooglePlus()" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a [routerLink]="['/auth/login']" *ngIf="authType == 'register'">I already have a membership</a>
    <a [routerLink]="['/auth/register']" *ngIf="authType == 'login'">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->